body {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    margin:0;
    padding:0;
    overflow-x:hidden; }
html {
    overflow-x:hidden; }
pre {
background-color: black;
color: white; }

h1,
h2 {
    font-family: 'Julius Sans One', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase; }

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px; }
@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px; } }

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black; }
a:focus, a:hover {
    color: #212529;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }

/** Navigation **/
#mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black; }
#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white; }
#mainNav .navbar-brand {
    font-weight: 700; }
#mainNav a {
    color: white; }
#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent; }
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent; }
@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent; }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black; }
    #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3); }
    #mainNav .nav-link.active:hover {
        color: white; } }

/* Masthead */
header.masthead {
    text-align: center;
    background: black no-repeat scroll center center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white; }
@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0; } }
header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center; }
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0; }
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Source Code Pro', 'Open Sans', Helvetica, Arial, sans-serif; }
@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px; } }
header.masthead .post-heading h1 {
    font-size: 35px; }
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block; }
header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif; }
header.masthead .post-heading .meta a {
    color: #fff; }
@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px; }
    header.masthead .post-heading .subheading {
        font-size: 30px; } }
#intro-title {
    font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* End masthead */


/* For Blog Preview Posts in main */
.post-preview > a {
    color: #212529; }
.post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1; }
.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
.post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px; }
.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96; }
.post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529; }
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1; }
@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px; } }

#intro-body {
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
}
#copyright {
    font-size: 12px;
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent; }
.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }
.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0; }
.btn-default {
    color: white;
    border: 2px solid white;
    background-color: transparent; }
.btn-default:focus, .btn-default:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }
.btn-primary {
    background-color: #0085A1;
    border-color: #0085A1; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important; }
.btn-lg {
    font-size: 16px;
    padding: 25px 35px; }

.space_25{
    height: 25vh; }
.space_10{
    height: 10vh; }
.space_5 {
    height: 5vh; }

#about {
    position: relative;
    margin: 0; }
#about_overlay {
    background-color: rgba(256,256,256,0.75);
    color: white;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.strapping_young_lad {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #00657b;
  margin:0 auto;
  text-align: center;
  background: no-repeat center center;
  background-size: cover;
}

#digits_sketch {
    padding: 0;
    margin: auto;
    display: block;
}

